<div class="section config-section">
	<form class="config-form">
	  <p class="label">Language</p>
	   <select class="form-control" ng-model="language" ng-options="language.name for language in languages track by language.value">
    </select>
	 <p class="label">Subtitle Extension</p>
	 	<select class="form-control" ng-model="subExtension" ng-options="subExtension.name for subExtension in subExtensions track by subExtension.value">
	 	</select>
	  <div class="form-actions">
	    <button ng-click="save()" class="btn btn-form btn-primary pull-right">Save</button>
	  </div>
	</form>
</div>