@import "variables.less";
@import "partials/_globals.less";
@import "partials/_helpers.less";
@import "partials/_loading.less";

// Home

.drop-wrapper {
  height: 300px;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop {
  width: 80%;
  height: 70%;
  border-style: dashed;
  border-radius: 14px;
  border-color: @darkColor;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-top: -20px;

  .welcome-message {
    font-size: 20px;
    color: @darkColor;
    width: 100%;
  }
}

.files-table {
  table-layout: fixed;

  .th-name {
    width: 80%;
  }
}

// Info

.info-footer {
  margin-top: 30px;
  text-align: center;

  .icon-github, .icon-twitter{
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
  }
}
